body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.95);
}

#weatherData {
    margin-top: 20px;
}

.error {
    color: red;
    font-weight: bold;
}